body{
    background: linear-gradient( #3e5f8a, #87CEEB) ;
    main{
        h1{
            font-size: 25px;
        }
        img{
            width: 100%;
        }
        p{
            font-size: 25px;
            color: purple;
        }
    }
}